
main{
    display: flex;
    justify-content: center;
    padding: 2em;
   
}
.calculator{
    justify-content: center;
    min-width: 30%;
    padding: 2em;
    border-color: blue;
    border-style: solid;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.screen {
    margin-top: 0;
    padding: 0.1em;
    background-color: rgb(47, 45, 62);
    color: lightyellow;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    height: 2.2em;
    margin-bottom: 0.5em;
    border-radius: 10px;

}

.screen p {
    margin-top: 0;
    
}

button{
    width: 20%;
    height: 2em;
    
}
button:hover {
    background-color:darkgrey;
    color: darkblue;

  }
#equalBtn {
    width: 45%;
}

p{
    margin:0;
}

.resultText{
    text-align: right;
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;

}

footer{
    text-align: center;
}